<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>CADASTRO DE CATEGORIA</h2>
            </div>
            <div class="card-body">
        <hr>
        <form method="POST" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria">
            <br>
            <button class="btn btn-success">Cadastre-se</button>
        </form>
        </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs') %>